<h1>Here are your memes</h1>
<div class="container">
  {{#each memes}}
  <div class="meme">
    <a href="/detailsView/{{this._id}}">
      <img class="memePoster" src="{{this.memePath}}" alt="">
    </a>
  </div>
  {{/each}}
</div>