<div class="form-container inner">
<form action="/user/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username"><br>

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password"><br>

    <label for="repeat">Repeat Password:</label>
    <input type="password" name="repeat" placeholder="Repeat Password"><br>

    <label for="firstName">First name:</label>
    <input type="text" name="firstName" placeholder="First name"><br>

    <label for="lastName">Last name:</label>
    <input type="text" name="lastName" placeholder="Last name"><br>

    <input type="submit" value="Register">
</form>
</div>