<h1>Welcome to Doner Place!</h1>
<p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and
	lamb and any topping you want. Place your order now!</p>
<div class="products">
	{{#if admin}}
	<h2>Admin</h2>
	<div class="product-card">
		<img src="/img/new.png">
		<a href="customize-order.html" class="button product-title">Create Product</a>
	</div>
	{{/if}}
	 {{#if products.chicken}}
	<h2>Chicken Doner</h2>
	{{#each products.chicken}} {{> doner}} {{#if admin}}
	<a href="#" class="control">
		<img class="control-img" src="/img/edit.png">
	</a>
	<a href="#" class="control">
		<img class="control-img" src="/img/delete.png">
	</a>
	{{/if}} {{/each}} {{/if}} {{#if products.beef}}
	<h2>Beef Doner</h2>
	{{#each products.beef}} {{> doner}} {{/each}} {{/if}} {{#if products.lamb}}
	<h2>Lamb Doner</h2>
	{{#each products.lamb}} {{> doner}} {{/each}} {{/if}}
</div>