<h1>Here are your memes</h1>
<div class="container">
    {{#each memesCollection}}
    <div class="meme">
        <a href="/memes/getDetails/{{id}}">
            <img class="memePoster" src="{{memePath}}" />
        </a>
    </div>
    {{else}}
    <div>No memes in database!</div>
    {{/each}}
</div>