<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/public/js/deleteMeme.js"></script>
</head>

<body>
<header>
    <div class="inner">
        <nav>
            <a href="/" class="logo"><img class="logo" src="/public/images/nodeLogo.png" alt="nodeLogo"></a>
            <input type="checkbox" id="nav"/><label for="nav"></label>
            <ul>
                <li><a href="/addMeme">Add Meme</a></li>
                <li><a href="/addGenre">Add Genre</a></li>
                <li><a href="/viewAllMemes">View All Memes</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="deletedMemeTextBox"></div>

<div id="contentDiv" class="content">
    {{#foundMeme}}
        <img src="{{path}}" alt=""/>
        <h3>Title  {{memeTitle}}</h3>
        <p>{{memeDescription}}</p>
        <button><a href="{{path}}">Download Meme</a></button>
        <button id="deleteMemeBtn">Delete Meme via REST</button>
    {{/foundMeme}}
</div>

</body>
</html>