<h1>Add New Movie</h1>
<div class="container">
  <form action="/memes/addMeme" enctype=multipart/form-data method="POST">
    <label for="memeTitle">Title</label>
    <input type="text" id="memeTitle" name="memeTitle" placeholder="The title of the movie">

    <select name='genreSelect' id="genreSelect">
      {{#each tags}}
        <option value="{{this.genreName}}">{{this.genreName}}</option>
      {{else}}
       <option value="no genres">No Genres</option>
      {{/each}}
    </select>


    <label for="memePoster">Poster URL</label>
    <input type="file" id="memePoster" name="memePoster" placeholder="Link to a poster">

    <input type="checkbox" name='status' id='status' checked> public

    <label for="memeDescription">Movie description</label>
    <textarea id="memeDescription" name="memeDescription" placeholder="Meme description" rows="10" cols="10"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
{{#if status}}
<div id="successesBox">
    <h2 id="successMsg">Meme added</h2>
</div>
{{/if}}