<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/images/nodeLogo.png" alt="nodeLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/memes/addMeme">Add Meme</a></li>
                    <li><a href="/memes/viewAllMemes">View All Memes</a></li>
                    <li><a href="/memes/searchMeme">Search</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    {{{body}}}
  </body>
</html>
